.in {
  @apply block relative;
  padding: 5.2rem 0 8rem;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url('/img/bg_2.jpg');
  min-height: 601px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 960px) {
  .in {
    padding: 3rem 0 3rem;
  }
}

.cont {
  @apply w-full block relative justify-center;
  min-height: calc(601px - 5.5rem);
}

.header {
  @apply w-full relative;
  margin: 0 auto 3rem;
}

.title {
  @apply text-xl block relative text-center font-light uppercase;
  font-size: 2.6rem;
  letter-spacing: 0.8rem;
}

@media screen and (max-width: 960px) {
  .title {
    font-size: 2.3rem;
    letter-spacing: 0.5rem;
  }
}

.inner {
  width: 90%;
  @apply mx-auto;
}

.card {
  @apply w-full h-auto block relative mx-auto;
}

.img {
  max-height: 700px;
  @apply mx-auto;
}
