.head {
  font-size: 1.5rem;
  @apply block mb-1 mt-2;
}

@media screen and (max-width: 960px) {
  .head {
    font-size: 1.25rem;
  }
}

.card {
  @apply w-full h-auto block relative;
}

.cont {
  @apply flex relative flex-wrap justify-center;
}

.iframe {
  @apply max-w-full w-3/4 block mx-auto text-center flex-grow pr-3;
}

@media screen and (max-width: 960px) {
  .iframe {
    @apply w-full pr-0;
  }
}

.img_cont {
  @apply relative flex-grow w-1/4 mx-auto;
}

@media screen and (max-width: 960px) {
  .img_cont {
    @apply w-full mt-3;
  }
}

.qr {
  @apply bg-white block;
}

.img {
  @apply mx-auto w-full;
  max-width: 300px;
}

@media screen and (max-width: 960px) {
  .img {
    max-width: 150px;
  }
}
