.main {
  @apply block relative z-0;
}

.cont {
  @apply w-full relative mx-auto bg-black;
  padding-bottom: 0rem;
}

.carousel {
  --kvAreaW: 100vw;
  --kvAreaH: calc(var(--kvAreaW) * 1.41667);
  --kvH: calc(var(--winH) - var(--headerH));
  --kvInnerH: calc(var(--kvH) - 0.2rem);
  --kvFooterH: 5rem;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@supports (content-visibility: auto) {
  .carousel {
    content-visibility: auto;
  }
}
@media screen and (max-width: 960px) {
  .carousel {
    --kvInnerH: calc(var(--kvAreaH) - 0.1rem);
    --kvFooterH: 4rem;
  }
}

.sub_cont {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--kvInnerH) var(--kvFooterH);
  position: relative;
}

.slides {
  @apply relative w-full;
  margin: 0 auto;
  z-index: 0;
  opacity: 0;
}

.loaded .slides {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.5, 1, 0.89, 1) 0.2s;
}

.list {
  width: 100%;
  position: relative;
  margin: 0 auto;
  z-index: 0;
}

:not(.all) .item {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

:not(.all) .item.current {
  position: relative;
  z-index: 1;
}

.all {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.is_all {
  z-index: 1;
  pointer-events: auto;
}

.all .item {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.all .item.current {
  position: relative;
  z-index: 1;
}

.data {
  --slice_img: calc(var(--kvAreaW) / var(--kv_slice));
  width: 100%;
  height: var(--kvInnerH);
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  transition: opacity 5s cubic-bezier(0.5, 1, 0.89, 1);
}

.loaded .current .data {
  opacity: 1;
  transition: opacity 0s linear;
}

@media screen and (max-width: 960px) {
  .data {
    --slice_img: calc(var(--kvAreaH) / var(--kv_slice));
  }
}

.data:not(._slice)::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4) url('/img/border.png') repeat 0 0 / auto 4px;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.5, 1, 0.89, 1);
}

.loaded .current .data {
  opacity: 1;
  transition: opacity 0s linear;
}

@media (hover: hover) and (pointer: fine) {
  .data:not(._slice):hover::after {
    opacity: 0.8;
  }
}

.data_list {
  height: var(--kvInnerH);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-template-rows: 1fr;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .data_list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
  }
}

.data_item {
  display: block;
  position: relative;
}

.data_item:root {
  --kv_pos: 50% 50%;
  --kv_pos_up: 50% 50%;
}

.data_item[data-visual='ma'] {
  --kv_pos: 50% 40%;
  --kv_pos_up: 50% 40%;
}

.data_item[data-visual='cd'] {
  --kv_pos: 50% 50%;
  --kv_pos_up: 50% 50%;
}

.data_item[data-visual='dg'] {
  --kv_pos: 45% 36%;
  --kv_pos_up: 50% 70%;
}

.data_item[data-visual='sn'] {
  --kv_pos: 40% 50%;
  --kv_pos_up: 40% 50%;
}

.data_item[data-visual='cg'] {
  --kv_pos: 50% 40%;
  --kv_pos_up: 50% 40%;
}

.data_cursor {
  width: 6rem;
  height: 6rem;
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

.data_cursor::before {
  content: '';
  width: 100%;
  height: 55%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: 0.2rem solid #fff;
  border-right: 0.2rem solid #fff;
  opacity: 0;
  transition: opacity 0s linear 0.2s;
}

@media (hover: hover) and (pointer: fine) {
  .data:not(._slice):hover .data_cursor::before,
  ._slice .data_item:hover .data_cursor::before {
    opacity: 1;
  }
}

.data_cursor::after {
  content: 'LIHAT';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.2rem;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN,
    Arial, 'メイリオ', Meiryo, sans-serif;
  letter-spacing: 0.2rem;
  transform: translate(-50%, -50%);
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  .data:not(._slice):hover .data_cursor::after,
  ._slice .data_item:hover .data_cursor::after {
    opacity: 1;
    animation: flash 0.1s steps(1) 5;
  }
}

.data_cursor::before {
  content: '';
  width: 100%;
  height: 55%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: 0.2rem solid #fff;
  border-right: 0.2rem solid #fff;
  opacity: 0;
  transition: opacity 0s linear 0.2s;
}

.cursor_deco {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cursor_deco::before {
  content: '';
  width: 55%;
  height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  border-top: 0.2rem solid #fff;
  border-bottom: 0.2rem solid #fff;
  opacity: 0;
  transition: opacity 0s linear 0.1s;
}
@media (hover: hover) and (pointer: fine) {
  .data:not(._slice):hover .cursor_deco::before,
  ._slice .data_item:hover .cursor_deco::before {
    opacity: 1;
  }
}
.cursor_deco::after {
  content: '';
  width: 55%;
  height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-30deg);
  border-top: 0.2rem solid #fff;
  border-bottom: 0.2rem solid #fff;
  opacity: 0;
  transition: opacity 0s linear;
}
@media (hover: hover) and (pointer: fine) {
  .data:not(._slice):hover .cursor_deco::after,
  ._slice .data_item:hover .cursor_deco::after {
    opacity: 1;
  }
}

.data_visual {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 0;
  transition: width 0s linear 1s;
}

@supports (content-visibility: auto) {
  .data_visual {
    content-visibility: auto;
  }
}

.current .data_visual {
  width: calc(var(--slice_img) + 1px);
  transition: width 0.7s cubic-bezier(0.76, 0, 0.24, 1);
}

@media screen and (max-width: 960px) {
  .current .data_visual {
    width: 100%;
  }
}

.data_visual::after {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4) url('/img/border.png') repeat 0 0 / auto 4px;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.5, 1, 0.89, 1);
}

@media screen and (min-width: 961px) {
  .data_visual._img1 {
    left: calc(0 * var(--slice_img));
  }
}
@media screen and (max-width: 960px) {
  .data_visual._img1 {
    top: calc(0 * var(--slice_img));
  }
}

@media screen and (min-width: 961px) {
  .data_visual._img2 {
    left: calc(1 * var(--slice_img));
  }
}
@media screen and (max-width: 960px) {
  .data_visual._img2 {
    top: calc(1 * var(--slice_img));
  }
}
@media screen and (min-width: 961px) {
  .data_visual._img3 {
    left: calc(2 * var(--slice_img));
  }
}
@media screen and (max-width: 960px) {
  .data_visual._img3 {
    top: calc(2 * var(--slice_img));
  }
}

.current .data_visual._img1 {
  transition-delay: 0s;
}
.current .data_visual._all_img1 {
  transition-delay: 0s;
}
.current .data_visual._img2 {
  transition-delay: 0.05s;
}
.current .data_visual._all_img2 {
  transition-delay: 0.05s;
}
.current .data_visual._img3 {
  transition-delay: 0.1s;
}
.current .data_visual._all_img3 {
  transition-delay: 0.1s;
}

@media (hover: hover) and (pointer: fine) {
  ._slice .data_visual:hover::after {
    opacity: 0.8;
  }
}

._slice .data_visual::after {
  content: '';
}

.visual_img {
  width: var(--kvAreaW);
  height: 100%;
  display: block;
  position: relative;
  left: 0;
  top: 0;
  opacity: 1;
  filter: brightness(75%);
  transform: scale(1.05);
  transition: transform 0s linear 5s;
}

@media screen and (max-width: 960px) {
  .visual_img {
    height: var(--kvAreaH);
  }
}
._slice .visual_img {
  width: var(--slice_img);
}
@media screen and (max-width: 960px) {
  ._slice .visual_img {
    width: var(--kvAreaW);
    height: 100%;
  }
}

@media screen and (min-width: 961px) {
  ._img1 .visual_img {
    left: calc(0 * var(--slice_img) * -1);
  }
}
@media screen and (max-width: 960px) {
  ._img1 .visual_img {
    top: calc(0 * var(--slice_img) * -1);
  }
}
@media screen and (min-width: 961px) {
  ._img2 .visual_img {
    left: calc(1 * var(--slice_img) * -1);
  }
}
@media screen and (max-width: 960px) {
  ._img2 .visual_img {
    top: calc(1 * var(--slice_img) * -1);
  }
}
@media screen and (min-width: 961px) {
  ._img3 .visual_img {
    left: calc(2 * var(--slice_img) * -1);
  }
}
@media screen and (max-width: 960px) {
  ._img3 .visual_img {
    top: calc(2 * var(--slice_img) * -1);
  }
}

.loaded .current .visual_img {
  transform: scale(1.001);
  transition: transform 5s cubic-bezier(0.5, 1, 0.89, 1);
}

.visual_source {
  width: 100%;
  height: 100% !important;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  object-fit: cover;
  object-position: var(--kv_pos_up);
}

@media screen and (max-width: 960px) {
  .visual_source {
    object-position: var(--kv_pos);
  }
}
._slice .visual_source {
  object-position: var(--kv_pos);
}
@media screen and (max-width: 960px) {
  ._slice .visual_source {
    /* object-position: var(--kv_pos_up); */
    object-position: var(--kv_pos);
  }
}

.footer {
  @apply relative w-full;
  padding-top: 0.2rem;
}

@media screen and (max-width: 960px) {
  .footer {
    padding-top: 0.1rem;
  }
}
.bar {
  width: 100%;
  height: 0.125rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 960px) {
  .bar {
    height: 0.1rem;
  }
}

.bar_line {
  width: 0;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}
.loaded .bar_line {
  width: 100%;
  transition: width 6.9s linear;
}
.is_change .bar_line {
  width: 0 !important;
  left: auto;
  right: 0;
  transition: width 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}

/* ******************************* */

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
