.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem 1.5rem;
}

@media screen and (max-width: 960px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem 0.9rem;
  }
}

.item {
  @apply block relative;
}

.jabatan {
  @apply block relative font-extralight;
  letter-spacing: 0.1rem;
  margin-bottom: 0.4rem;
  font-size: 1rem;
  padding-left: 1.4rem;
}

@media screen and (max-width: 960px) {
  .jabatan {
    font-size: 0.9rem;
  }
}

.jabatan::before {
  content: '';
  width: 0.5rem;
  height: 0.1rem;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  border-bottom: 0.1rem solid white;
}

.nama {
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  position: relative;
  padding-left: 1.4rem;
}

@media screen and (max-width: 960px) {
  .nama {
    font-size: 1.1rem;
  }
}
