.cont {
  @apply relative flex mx-0 justify-center items-center mb-14;
}

.heading {
  @apply relative text-white uppercase;
  font-size: 1.5rem;
}

@media screen and (max-width: 960px) {
  .heading {
    @apply text-xl;
  }
}

.line:not(:first-child) {
  @apply absolute top-0 left-0;
}

.line:nth-child(1) {
  animation: clip 3000ms -300ms linear infinite,
    glitch 500ms -649ms linear infinite;
}

.line:nth-child(2) {
  animation: clip 3000ms -600ms linear infinite,
    glitch 500ms -321ms linear infinite;
}

.line:nth-child(3) {
  animation: clip 3000ms -900ms linear infinite,
    glitch 500ms -491ms linear infinite;
}

.line:nth-child(4) {
  animation: clip 3000ms -1200ms linear infinite,
    glitch 500ms -137ms linear infinite;
}

.line:nth-child(5) {
  animation: clip 3000ms -1500ms linear infinite,
    glitch 500ms -396ms linear infinite;
}

.line:nth-child(6) {
  animation: clip 3000ms -1800ms linear infinite,
    glitch 500ms -375ms linear infinite;
}

.line:nth-child(7) {
  animation: clip 3000ms -2100ms linear infinite,
    glitch 500ms -266ms linear infinite;
}

.line:nth-child(8) {
  animation: clip 3000ms -2400ms linear infinite,
    glitch 500ms -954ms linear infinite;
}

.line:nth-child(9) {
  animation: clip 3000ms -2700ms linear infinite,
    glitch 500ms -729ms linear infinite;
}

@keyframes glitch {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(random(10) - 5px);
    color: #4e9a26;
  }
  90% {
    transform: translateX(random(10) - 5px);
    color: #ac1212;
  }
  95% {
    transform: translateX(random(10) - 5px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes clip {
  0% {
    clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
  }

  100% {
    clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
  }
}
